docker-compose.override.yml
app/*
persistent/database/*
persistent/fileadmin/*

!app/composer.*
!persistent/database/.keep
!persistent/fileadmin/.keep

!app/docroot/
app/docroot/*
!app/docroot/.htaccess
!app/docroot/typo3conf/
app/docroot/typo3conf/*
!app/docroot/typo3conf/LocalConfiguration.php
!app/docroot/typo3conf/AdditionalConfiguration.php
!app/docroot/typo3conf/PackageStates.php

.idea
.vscode

